.auth-card{
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
}

.auth-card .logo-container{
    margin: 0 0 10px;
    width: 100px;
}

.auth-card-header{
    font-weight: 700;
}

.auth-card-subtitle{
    color: rgba(28, 26, 23, 0.6);
}

.auth-form-label{
    font-weight: 700;
}
