// Layout 
.btn-base{
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-form-base{
    display: inline-block;
    text-align: center;
    padding: 6px 16px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-block{
    display: block;
    width: 100%;
}

// Modificatori di stile 
.btn-fill{
    border: none;
    background-color: $primary;
    color: white;
    margin-right: 10px;
}

.btn-fill:hover{
    background-color: #c93c22;
}

.btn-outline{
    border: 1px solid;
}

.btn-outline:hover{
    background-color: $primary;
    color: white;
}
